@model int

@section BreadCrump{
    @ViewBag.breadCrump
}

<div class="accordion accordion-flush border mb-5 mt-3" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" id="accord" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <i class="fas fa-plus-square"></i> <span id="categoryTextSpan"> Kategori Ekle</span>
            </button>
        </h2>
        <div id="flush-collapseOne" class="row accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="col-md-12 accordion-body">

                <div class="mb-3">
                    <label for="categoryHeader" class="form-label">Kaynak Başlığı</label>
                    <input type="text" class="form-control" id="categoryHeader" aria-describedby="categoryText">
                </div>
                <div class="mb-3">
                    <label for="categoryLink" class="form-label">Kaynak Görseli</label>
                    <input type="text" class="form-control" id="categoryLink" aria-describedby="sourceLinkText">
                    <div id="sourceLinkText" class="form-text">İsteğe bağlıdır. Görseli bilgisayaranızdan seçebilir veya URL'i ilgili bölüme yazabilirsiniz.</div>
                    <a onclick="AddCategory()" id="submitSource" class="btn btn-success">Kaydet</a>
                </div>



            </div>
        </div>
    </div>
</div>

<div id="category_list">

</div>










@section Scripts{
    <script src="~/scripts/categoryPartial.js"></script>
    <script src="~/scripts/category.js"></script>
    <script>
        $(document).ready(function () {
            StartLoader();
            GetAllCategoryPartial(@Model);
        });

    </script>
}
