.mr-2 {
    margin-right: 0.5rem;
}

.modal {
    text-align: center !important;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block !important;
        vertical-align: middle !important;
        content: " " !important;
        height: 100% !important;
    }
}

.modal-dialog {
    display: inline-block !important;
    text-align: left !important;
    vertical-align: middle !important;
}


.loader_search,
.loader_search:before,
.loader_search:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader_search {
    color: #ffffff;
    text-indent: -9999em;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    width: 100%;
}

    .loader_search:before,
    .loader_search:after {
        position: absolute;
        top: 0;
        content: '';
    }

    .loader_search:before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loader_search:after {
        left: 1.5em;
    }

.page-selected {
    border: 3px solid white !important;
}
