textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

#category_select_list[disabled=disabled], #category_select_list:disabled {
    background-color: #152036 !important;
    color:gray !important;
}
