<link href="~/css/projectStyles/source.css" rel="stylesheet" />


@section Scripts {
    <script src="~/js/projectScripts/source.js"></script>

    <script src="~/js/projectScripts/rssGenerator.js"></script>
    <script src="~/js/projectScripts/sourceContent.js"></script>

}
<div id="codeSource"></div>
<div id="code_source_detail"></div>

