<link href="~/css/projectStyles/source.css" rel="stylesheet" />
<link href="~/css/projectStyles/category.css" rel="stylesheet" />

@section Scripts {
    <script src="~/js/projectScripts/source.js"></script>
    <script src="~/js/projectScripts/category.js"></script>
    <script src="~/js/projectScripts/rssGenerator.js"></script>

}
<div id="codeSource"></div>
<div id="code_source_detail"></div>

