<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insta Auto Post</title>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/styles/layout.css" rel="stylesheet" />
    <link href="~/font-awesome/css/fontawesome.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div style="text-align:center !important;" id="spinner-content">
        <div id="spinnerAround">
            <div class="spinner-grow text-info" id="spinner" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Navbar</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <h1> @RenderSection("BreadCrump", true)</h1>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <h1>FOOTER</h1>
    </footer>


    <script src="~/jquery/jquery.js"></script>
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="~/scripts/layout.js"></script>
    <script src="~/font-awesome/js/all.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
